
<h3>Editing the task details</h3>
<div class="container">
  <div class="row">
      <form #taskForm="ngForm" (ngSubmit)="onSave()" >
          <button class="btn btn-secondary" (click)="onCancel()" type="button">Cancel</button>
          <button [disabled]="TaskName.invalid || ScheduledUrl.invalid || Cron.invalid" class="btn btn-primary" (click)="onSave(task)" type="button">Save</button>          
          <button class="btn btn-warning" (click)="onDisabled(task._id)" type="button">Disabled</button>
          <button [disabled]="TaskName.invalid || ScheduledUrl.invalid || Cron.invalid" class="btn btn-success" (click)="onRun(task._id)" type="button">Run</button>          
          <button [disabled]="TaskName.invalid || ScheduledUrl.invalid || Cron.invalid" class="btn btn-success" (click)="onSubmitToScheduler(task._id)" type="button">Submit to the scheduler</button>
          <button class="btn btn-danger" (click)="onDelete(task._id)" type="button">Delete</button>
<p>          
          <div class="container">
        <div class="form-group">
          <label for="TaskName">NAME</label>
          <input 
            type="text"            
            id="TaskName"
            class="form-control"
            [(ngModel)]="task.TaskName" 
            #TaskName="ngModel"
            name="TaskName"
            placeholder="TaskName"
            required> 
            <div [hidden]="TaskName.valid || TaskName.untouched" class="alert alert-danger">
              Task name is required
            </div>                                         
        </div>                
        <div class="form-group">
            <label for="ScheduledUrl">SERVICE URL</label>
            <input 
              type="url"
              id="ScheduledUrl"
              class="form-control"
              name="ScheduledUrl"
              #ScheduledUrl="ngModel"
              [(ngModel)]="task.ScheduledUrl"
              required              
              pattern ="https?://.+">
              <div [hidden]="ScheduledUrl.valid || ScheduledUrl.untouched" class="alert alert-danger">
                  Scheduled Url is required.<br>
                  Sample: http://subdomain.domain.com/path_to_task
                </div> 
          </div>
           <div class="form-group">
              <label for="MaxDuration">TIMEOUT</label>
              <input 
                type="text"
                id="MaxDuration"
                class="form-control"        
                [(ngModel)]="task.MaxDuration"  
                name="MaxDuration"
                value="0">                
          </div>
          <div class="form-group">
              <label for="Cron">CRONE *</label>
              <input 
                type="text"
                id="Cron"
                class="form-control"
                #Cron="ngModel"
                [(ngModel)]="task.Cron"   
                name="Cron"
                required>  
                <div [hidden]="Cron.valid || Cron.untouched" class="alert alert-danger">
                    Cron is required
                  </div>              
          </div>
  
          <div class="form-group">
              <label for="header">HEADER</label>
              <select class="form-control" id="header" name="header" required> 
                  <option *ngFor="let header of task.Headers">{{header}} </option>                  
                </select>              
          </div>
          <div class="form-group">
              <label for="Body">BODY</label>
              <textarea  class="form-control"
              id="Body" 
              [(ngModel)]="task.Body"  
              name="Body" 
              required rows="3"></textarea>                 
          </div>
          <div class="form-group">
              <label for="ActiveStatus">STATUS</label>
              <input 
              type="checkbox"
              id="ActiveStatus"
              class="form-control"        
              [(ngModel)]="task.ActiveStatus"  
              name="ActiveStatus"
              disabled>  
              
          </div>  
          <div class="form-group">
              <label for="ConflictTasks">Do not run at the same time as</label>
              <select multiple class="form-control" id="ConflictTasks" ngModel
              name="ConflictTasks" required> 
              <option *ngFor="let conflictTask of task.ConflictTasks">{{conflictTask}} </option>                  
                </select>              
          </div>   
        </div>       
      </form>      
     
     
</div>
  <p>
      <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
        TASK HISTORY 
      </button>
    </p>
    <div id="collapseExample" [ngbCollapse]="isCollapsed">
      <div class="card">
        <div class="card-body">
            <div class="container">
                <h4>Task history</h4>
                <table class="table table-sm">
                  <thead>
                    <th>Start Date</th>
                    <th>Duration</th>
                    <th>Response Status</th>
                    <th>Response Body</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let history of arrayHistory.models">            
                      <td>{{history.StartDate}}</td>
                      <td>{{history.Duration}}</td>
                      <td>{{history.ResponseStatus}}</td>
                      <td>{{history.ResponseBody}}</td>
                    </tr>
                  </tbody>        
                </table>
              </div>
        </div>
      </div>
    </div>