
<h3>Editing the task details</h3>
<div class="container">
  <div class="row">

      <form #taskForm="ngForm" (ngSubmit)="onSave()" >
        <div class="form-group">
          <label for="TaskName">Task name</label>
          <input 
            type="text"
            id="TaskName"
            class="form-control"
            [(ngModel)]="task.TaskName"             
            name="TaskName"
            placeholder="TaskName"
            required>          
            
            
        </div>        
        <div class="form-group">
            <label for="ScheduledUrl">Service URL</label>
            <input 
              type="text"
              id="ScheduledUrl"
              class="form-control"
              name="ScheduledUrl"
              [(ngModel)]="task.ScheduledUrl"
              required>
          </div>
           <div class="form-group">
              <label for="MaxDuration">Timeout</label>
              <input 
                type="text"
                id="MaxDuration"
                class="form-control"        
                [(ngModel)]="task.MaxDuration"  
                name="MaxDuration"
                value="0">                
          </div>
          <div class="form-group">
              <label for="Cron">Crone expression</label>
              <input 
                type="text"
                id="Cron"
                class="form-control"
                [(ngModel)]="task.Cron"   
                name="Cron"
                required>                
          </div>
  
          <div class="form-group">
              <label for="header">Header</label>
              <select class="form-control" id="header" name="header" required> 
                  <option *ngFor="let header of task.Headers">{{header}} </option>                  
                </select>              
          </div>
          <div class="form-group">
              <label for="Body">Body</label>
              <input type="text"
              class="form-control"
              id="Body" 
              [(ngModel)]="task.Body"  
              name="Body" 
              required>                 
          </div>
          <div class="form-group">
              <label for="ActiveStatus">Status</label>
                <div class="radio">
                  <label class="radio-inline"><input type="radio" id="ActiveStatus" [(ngModel)]="task.ActiveStatus" name="ActiveStatus" required [value]=false>Inactive</label>
                  <label class="radio-inline"><input type="radio"id="ActiveStatus" [(ngModel)]="task.ActiveStatus" name="ActiveStatus" required [value]=true>Active</label>                  
                </div>
          </div>  
          <div class="form-group">
              <label for="ConflictTasks">Do not run at the same time as</label>
              <select multiple class="form-control" id="ConflictTasks" ngModel
              name="ConflictTasks" required> 
              <option *ngFor="let conflictTask of task.ConflictTasks">{{conflictTask}} </option>                  
                </select>              
          </div>
          <div class="form-group">
              <label for="history">History</label>

              <select multiple class="form-control" id="history" ngModel
              name="history" required> 
              <option *ngFor="let history of arrayHistory.models">{{history.ResponseStatus}} - {{history.StartDate}} - {{history.Duration}} -  {{history.ResponseBody}}</option>                  
                </select>                                       
          </div>       
        <button class="btn btn-primary" (click)="onSave(task)" type="button">Save</button>
        <button class="btn btn-primary" (click)="onDelete(task._id)" type="button">Delete</button>
      </form>      
</div>