<h3>Histories View</h3>
<div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>Task Id</th>
          <th>Id</th>             
          <th>Response Status</th>
          <th>Start date</th>
          <th>Duration</th>
          <th>Response body</th>          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let history of historyArray.models">
            <td>{{history.taskId}}</td>
          <td><a routerLink="{{history._id}}">{{history._id}}</a></td>            
          <td>{{history.ResponseStatus}}</td>
          <td>{{history.StartDate}}</td>          
          <td>{{history.Duration}}</td>          
          <td>{{history.ResponseBody}}</td>          
        </tr>       
      </tbody>
    </table>
</div>