<h4>Welcome to Job Manager</h4>
<p>Manage your tasks and jobs</p>
<hr>
<div class="container">
    <div class="row">      
        <ul class="nav nav-tabs">
          <li role="presentation"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="/">Home</a>
          </li>
          <li role="presentation"
              routerLinkActive="active">
            <a routerLink="tasks">Tasks</a>            
          </li>
          <li role="presentation"
              routerLinkActive="active">
            <a routerLink="/history">History</a>
          </li>
        </ul>      
    </div>
    <div class="row">    
        <router-outlet></router-outlet>      
    </div>
  </div>
  