
<h3>Creation a new task</h3>
<div class="container">
  <div class="row">

      <form #addForm="ngForm" (ngSubmit)="onSubmit()" >
        <div class="form-group">
          <label for="TaskName">Task name</label>
          <input 
            type="text"
            id="TaskName"
            class="form-control"
            [(ngModel)]="task.TaskName"             
            name="TaskName"
            placeholder="TaskName"
            required>                               
        </div>        
        <div class="form-group">
            <label for="ScheduledUrl">Service URL</label>
            <input 
              type="text"
              id="ScheduledUrl"
              class="form-control"
              name="ScheduledUrl"
              [(ngModel)]="task.ScheduledUrl"
              required>
          </div>
           <div class="form-group">
              <label for="MaxDuration">Timeout</label>
              <input 
                type="text"
                id="MaxDuration"
                class="form-control"        
                [(ngModel)]="task.MaxDuration"  
                name="MaxDuration"
                value="0">                
          </div>
          <div class="form-group">
              <label for="Cron">Crone expression</label>
              <input 
                type="text"
                id="Cron"
                class="form-control"
                [(ngModel)]="task.Cron"   
                name="Cron"
                required>                
          </div>
          <div class="form-group">
              <label for="Body">Body</label>
              <input type="text"
              class="form-control"
              id="Body" 
              [(ngModel)]="task.Body"  
              name="Body" 
              required>                 
          </div>         
        <button class="btn btn-primary" type="submit">Save</button>
        
      </form>      
</div>