<h3>Task View</h3>
<button class="btn btn-primary" (click)="onCreateTask()">Add Task</button>
<div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>Task name</th>
          <th>Active</th>
          <th>Running</th>
          <th>Last run</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasksArray.models">
          <td><a routerLink="{{task._id}}">{{task.TaskName}}</a></td>
          <td><a routerLink="{{task._id}}">{{task.ActiveStatus}}</a></td>
          <td>Idle</td>
          <td>{{ getLastRun(task.TaskName) }}</td>
        </tr>       
      </tbody>
    </table>
</div>