<h1 class="sc-banner-title">Service Center</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h2>Tasks</h2>
      <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
      <a [routerLink]="['/tasks/add']"><button class="btn btn-primary sc-btn">Create task</button></a><br><br>
         <p-dataTable [value]="tasks"
        [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,20,100]"
        sortField="TaskName"
        [globalFilter]="gb">
        <p-header>
          <div style="text-align:left">
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input #gb type="text" placeholder="Search">
          </div>
        </p-header>
        <p-column field="TaskName" header="Task Name" sortable="true">
           <ng-template let-col let-task="rowData" pTemplate="body">
            <a href='#' [routerLink]="['/task', task._id]" style="color:#006086">{{task[col.field]}}</a>
          </ng-template>
        </p-column>
        <p-column field="Cron" header="Cron"></p-column>

      </p-dataTable>

    </div>
  </div>
</div>
<p-dialog [(header)]="title" [(visible)]="display" modal="modal" width="300" [responsive]="true">
  <p>{{ message }}</p>
  <p-footer>
    <button type="button" pButton icon="fa-check" (click)="close()" label="Ok"></button>
  </p-footer>
</p-dialog>