
<p-table #tt [columns]="cols" [value]="tasks"  sortMode="multiple" [multiSortMeta]="multiSortMeta" selectionMode="single" [(selection)]="selectedTask" (onRowSelect)="onRowSelect($event)" [paginator]="true" rows="10">
  <ng-template pTemplate="caption">
      <div style="text-align: left">  
      <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
      <input type="text" pInputText size="50" placeholder="Global Filter" (input)="tt.filterGlobal($event.target.value, 'contains')" style="width:auto">
      </div>
  </ng-template>

  <ng-template pTemplate="header" let-columns>
      <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn [style.width]="col.width">
              {{col.header}}
              <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
      </tr>
      
  </ng-template>

  <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
          <td *ngFor="let col of columns">
              {{rowData[col.field]}}
          </td>
      </tr>
  </ng-template>

  <ng-template pTemplate="summary" let-rowData>
      <div style="text-align:left">
          <button type="button" pButton icon="fa-plus" (click)="showDialogToAdd()" label="Add"></button>
      </div>
  </ng-template>
</p-table>



<p-dialog header="Task Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [closable]="true" [width]="600">
  <div class="ui-g ui-fluid" *ngIf="task">
      <div class="ui-g-4"><label for="TaskName">NAME</label></div>
      <div class="ui-g-8"><input pInputText id="TaskName" [(ngModel)]="task.TaskName" /></div>

      <div class="ui-g-4"><label for="ScheduledUrl">SCHEDULED URL</label></div>
      <div class="ui-g-8"><input pInputText id="ScheduledUrl" [(ngModel)]="task.ScheduledUrl" /></div>
                 
      <div class="ui-g-4"><label for="Cron">CRON</label></div>
      <div class="ui-g-8"><input pInputText id="Cron" [(ngModel)]="task.Cron" /></div>            
      
      <div class="ui-g-4"><label for="Cron">DURATION</label></div>
      <div class="ui-g-8"><input pInputText id="MaxDuration" [(ngModel)]="task.MaxDuration" /></div>   

      <div class="ui-g-4"><label for="Cron">BODY</label></div>
      <div class="ui-g-8"><input pInputText id="Body" [(ngModel)]="task.Body" /></div>   

  </div>
  <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
          <button type="button" pButton icon="fa-close" (click)="delete()" label="Delete"></button>
          <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
      </div>
  </p-footer>
</p-dialog>